@charset "utf-8";
/* comman */
body,html{
   font-size: 14px;
}
body{
   font-family: 'Noto Sans KR',"맑은 고딕","Malgun Gothic",sans-serif;
   font-weight: 500;
   margin: 0;
   width: 100%;
}
ul{
   list-style: none;
   padding: 0;
   margin: 0;
}
a{
   display: block;
   text-decoration: none;
   color: inherit;
}
img{
   vertical-align: top;
   width: 100%;
}

/* header */ 
header{
   width: 100%;
   border-bottom: 1px solid #eee;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
   padding: 0 17%;
   box-sizing: border-box;
}
h1{
   margin: 0;
   padding: 10px 0;
   width: 150px;
   box-sizing: border-box;
}
.gnb{
   display: flex;
   font-size: 1.25rem;
   height: 100px;
   width: 920px;
}
.gnb > li {
   box-sizing: border-box;
   width: 230px;
}
.gnb > li > a{
   height: 80px;
   line-height: 80px;
}
.gnb li a{
   padding: 10px 20px;
}
.gnb li ul{
   font-size: 1.063rem;
   height: 230px;
   background-color: #f6f7f9;
   z-index: 100;
   position: relative;
   display: none;
   /* width: 100%; */
}
.mobile{
   width: 40px;
   display: none;
}
/* main */
.mainbox a{
   width: 100%;
   height: 100%;
   text-indent: -9999px;
}
main{
   position: relative;
}
.mainbox{
   display: grid;
   grid-template-rows:1fr 1fr 0.9fr;
   grid-template-columns:1fr 1fr 1fr 1fr;
   max-width: 1320px;
   height: 50vw;
   margin: 0 auto;
   z-index: 1;
}
main div, main section{
   background:no-repeat 50% / cover ;
}
.mainbox div{
   text-indent: -9999px;
   transition: 0.5s;
}
main section{
   position: relative;
   transition: 0.5s;
}
main section h4{
   position: absolute;
   margin: 0;
}
.banner{
   grid-column: 1 / 3;
	grid-row: 1 / 3;
   background-image: url(img/png/deflne.png);
   text-indent: -9999px
}
.first_use{
   background-image: url(img/png/first_use.png);
}
.first_use h4{
   left: 15px;
   top: 15px;
}
.gps{
   background-image: url(img/png/gps.png);
}
.find{
	grid-column: 3 / 5;
   grid-row: 2 / 3;
   background-image: url(img/jpg/woman_lens.jpg);
}
.find h4{
   bottom: 20px;
   right: 15px;
}
.app{
   background-image: url(img/png/app.png);
}
.lens{
   background-image: url(img/png/trueeye.png);
   grid-column: 2 / 5;
}
.lens h4{
   bottom: 20px;
   left: 15px;
}
main ul{
   width: 120px;
   position: absolute;
   right: 0;
   top: 0;
   border: 1px solid #eee;
}
main ul li a{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   padding: 20px 0;
   border-bottom: 1px solid #eee;
   color: #666;
}
main ul li:last-child a{
   border: none;
   padding: 5px 0;
}
main ul img{
   width: 50px;
   margin-bottom: 10px;
}
footer ul{
   display: flex;
   max-width: 1320px;
   margin: 60px auto 50px;
   font-size: 14px;
   align-items: center;
   justify-content: space-between;
   color: #666;
}
footer h2{
   width: 115px;
   margin:0;
}
footer ul{
   padding-left: 1%;
}
.txtline{
   color: #222;
}
footer li:nth-child(2) p:nth-child(2) span{
   color: #bd2414;
}
footer li:nth-child(2) p:last-child  > span+span{
   display: block;
   line-height: 2.5;
}
footer li:last-child img{
   width: 40px;
   height: 30px;
}
footer address p{
   font-style: normal;
   margin: 7px 0 5px;
}
footer li:last-child{
   display: flex;
}
footer li:last-child a{
   padding: 0 10px;
}
footer .txt{
   padding-top: 20px;
}
.first_use.atv:hover,.gps.atv:hover,.app.atv:hover,.lens.atv:hover,.banner.atv:hover,.find.atv:hover{
   transform:scale(1.1);
} 
.first_use.atv:hover{
   background-image: url(img/png/first_use_back.png);
}
.lens.atv:hover{
   background: url(img/png/most_2.png) no-repeat 50% 60% /cover;
}
.find.atv:hover{
  background-image: url(img/png/lens_back.png);
}
.gps.atv:hover{
   background-image: url(img/png/gps_back.png);
}
.app.atv:hover{
   background-image: url(img/png/app_back.png);
}
@media (max-width:1650px){
   .mainbox{
      height: 55vw;
   }
   header{
      padding: 0 12%;
   }
}

@media (max-width:1320px){
   body,html{
      font-size: 12px;
   }
   h1{
      width: 120px;
   }
   .mainbox{
      height: 60vw;
   }
   main ul{
      display: none;
   }
   header{
      padding: 0 5%;
   }
   h2{
      width: 70px;
   }
   footer ul{
      flex-wrap: wrap;
      justify-content: left;
      position: relative;
   }
   footer ul li:nth-child(2){
      margin-left: 3%;
   }
   footer ul li:last-child{
      position: absolute;
      right: 20px;
      top: 30px;
   }
   footer li:last-child img{
      width: 30px;
   }
}
/* 태블릿 */
@media (max-width:1180px){
   body,html{
      font-size: 11.5px;
   }
   header{
      padding: 0 2%;
   }
   .gnb li a{
      padding: 10px 2%;
   }
   .gnb{
      width: 680px;
   }
   footer .txt{
      padding-top:0;
   }
   .gnb > li {
      width: 170px;
   }
   .gnb li ul{
      font-size: 1.063rem;
      height: 190px;
   }
   footer ul{
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      box-sizing: border-box;
   }
   footer ul li:nth-child(2){
      margin-left: 0;
   }
   footer ul p{
      width: 100%;
   }
   footer ul li:nth-child(2) p:nth-child(2) span{
      display: inline-block;
   }
}
/* 모바일 */
@media (max-width:768px){
   body::-webkit-scrollbar{width: 0;}
   .mobile{
      position: relative;
      width: 30px;
      height: 30px;
      text-indent: -9999px;
   }
   main,footer ul{
      padding: 0 20px;
   }
   .mobile{
      display: block;
   }
    #nav-icon3{
      width: 32px;
      height: 41px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      position: absolute;
      top: -5px;
      right: 10px;
    }
    #nav-icon3 span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #002678;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }
   #nav-icon3 span:nth-child(1) {
      top: 5px;
    }
    
    #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
      top: 18px;
    }
    
    #nav-icon3 span:nth-child(4) {
      top: 31px;
    }
    #nav-icon3.open{
      position: absolute;
    }
    #nav-icon3.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    
    #nav-icon3.open span:nth-child(2) {
      transform: rotate(45deg);
    }
    
    #nav-icon3.open span:nth-child(3) {
      transform: rotate(-45deg);
    }
    
    #nav-icon3.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    
   .mainbox{
      grid-template-rows: repeat(6,1fr);
      grid-template-columns: 1fr 1fr;
      height: 1800px;
   }
   .banner{
   grid-column: 1 / 3;
   grid-row: 1 / 3;
   }
   .find{
   grid-column: 1 / 3;
   grid-row: 3 / 4;
   }
   .first_use{
   grid-column: 1 / 2;
   grid-row: 4 / 5;
   }
   .gps{
   grid-column: 2 / 3;
   grid-row: 4 / 5;  
   }
   .lens{
   grid-column: 1 / 3;
   grid-row: 5 / 6;  
   }
   .app{
      grid-column: 1 / 3;
   }
   footer .txt{
      padding-top: 0;
   }
   footer ul li:last-child{
      top: 10px;
   }
   footer ul li:nth-child(2) p span{
      display: block;
      line-height: 2;
   }
   footer li:nth-child(2) p:last-child > span+span{
      line-height: 2;
   }
   .app{
      background-position: 0 40%;
   }
   nav{
      position: absolute;
      top: 100px;
      left: -999px;
   }
   nav .gnb{
      flex-direction: column;
      background-color: #002678;
      /* width: 250px; */
      position: relative;
      color: #fff;
      height: auto;
      z-index: 100;
      text-indent: 5px;
      /* width: 90vw; */
      /* font-size: 1.5rem; */
   }
   .gnb li ul{
      background-color:transparent;
      width: 100%;
      height: auto;
      text-indent: 20px;
      background-color: #091b42;
   }
   .gnb > li{
      width: 100%;
   }
   .gnb > li > a{
      height: 40px;
      line-height: 40px;
   }
   .gnb li a{
      border-bottom: solid 1px #304c9b;
      padding: 15px 10px;
   }
}
@media (max-width:530px){
   body,html{
      font-size: 10px;
   }
   .mainbox{
      height: 1100px;
   }
   .app{
      background-position: 0 0;
   }
}