@charset "utf-8";

body{
  font-family: prenton,"맑은 고딕","Malgun Gothic",sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  }
  /* header */
  header{
    margin-bottom: 15px;
  }
 .intro{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }
 .logo img{
    width: 50px;
    height: 50px;
    vertical-align: top;
    margin: 15px 3px 0 20px;
 }
 .logo a{
   text-decoration: none;
   color: #000;
 }
 .logo span{
    display: inline-block;
    padding-top: 35px;
 }
 .info{
    position: relative;
    margin-right: 40px;
 }
 .info a{
    text-decoration: none;
    color: #000;
 }
 .info > span{
    position: absolute;
    left: -150px;
    bottom: 0;
 }
 .info address{
  font-family: prenton-condensed, sans-serif;
  font-style: normal;
  letter-spacing: 1px;
}
.info address span{
  display: block;
  font-family: prenton, sans-serif;
  font-weight: 400;
  text-align: right;
}
 /* main */
 .mainbox{
   width: 1400px;
   margin: 0 auto;
   font-size: 22px;
 }
 .banner{
   width: 100%;
   height: 630px;
   background-image: linear-gradient(to bottom,#5282d4,#7da5eb);
   text-indent: -9999px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   margin-bottom: 160px;
 }
 .banner .pc_img{
   width: 700px;
   height: 450px;
   background:url(../img/basics/png/a_pc.png) no-repeat 0 0 / cover;
   margin-right: 90px;
   border-radius: 25px 25px 0 0;
 }
 .banner .mobile_img{
   width: 360px;
   height:380px;
   background:url(../img/basics/png/a_mo.png) no-repeat 0 0 / cover;
   border-radius: 30px 30px 0 0;
 }
 .project + h2{
   margin: 0;
 }
 h2{
   font-size: 3.75rem; /* 60px */
   font-style: italic;
 }
 h3{
   font-size: 3rem; /* 48px */
 }
 .project{
   display: flex;
   justify-content:space-between;
   margin-bottom: 50px;
 }
 .explanation h3{
   padding-top: 35px;
 }
 .explanation p{
  font-family: "맑은 고딕","Malgun Gothic", sans-serif;
 }
 .explanation p span{
   display: block;
   line-height: 3;
 }
 h4{
   font-size: 1.8rem;
 }
 h4 p{
   font-family: "맑은 고딕","Malgun Gothic", sans-serif;
   font-size: 1.375rem;
   font-weight: 400;
   line-height: 2;
 }
 .build h4:last-child p,.build h4:first-child p{
  margin-bottom: 0;
}
 .build h4:last-child p + p,.build h4:first-child p+p{
   margin: 0;
 }
 .keyWord h3{
   font-size: 2.15rem;
 }
 .keyWord span{
   display: block;
   line-height: 2;
 }
 .keyWord span+span{
   line-height: 2.5;
 }
 .concept{
   display: flex;
   justify-content:space-between;
   font-weight: 400;
 }
 .use{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 800px;
 }
 .use p{
   font-size: 3rem;
   margin-top: 0;
 }
 .colors{
   display: flex;
   justify-content: space-around;
 }
 .color{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 18px;
   font-family: "맑은 고딕","Malgun Gothic", sans-serif;
   justify-content: center;
   margin: 10px;
 }
 .circle{
   border-radius: 50%;
   width: 54px;
   height: 54px;
   text-indent: -9999px;
   margin-bottom: 10px;
 }
 .color1 .circle{ background-color: #002678; }
 .color2 .circle{ background-color: #091b42; }
 .color3 .circle{ background-color: #304c9b; }
 .color4 .circle{ background-color: #4ec5ef; }
 .color5 .circle{ background-color: #bd2414; }
 .color6 .circle{ background-color: #000; }
 .color7 .circle{ background-color: #eee; }
 .color8 .circle{ background-color: #f6f7f9; }

 .ver_img{
   display: flex;
   text-indent: -9999px;
   justify-content: space-around;
   padding: 260px 0 50px;
   /* position: relative; */
 }
 .ver_img div{
   border-radius: 30px;
   box-shadow:
  0 11.4px 26.7px -34px rgba(0, 0, 0, 0.125),
  0 19.6px 28.1px -34px rgba(0, 0, 0, 0.171),
  0 26.5px 46.9px -34px rgba(0, 0, 0, 0.213),
  0 31.3px 104px -34px rgba(0, 0, 0, 0.276),
  0 26px 221px -34px rgba(0, 0, 0, 0.44);
 }
 .ver_img .pc{
   width: 667px;
   height: 540px;
   background:url(../img/basics/png/a_pc.png) no-repeat 50% / cover;
 }
 .ver_img .tap{
  width: 400px;
  height: 425px;
  background:url(../img/basics/png/a_teb.png) no-repeat 50% 0 / cover;
  margin-top: 120px;
}
.ver_img .mobile{
  width: 200px;
  height: 600px;
  background:url(../img/basics/png/a_mo.png) no-repeat 50% 0 / contain;
}
.mainbox .site{
  display: block;
  border-radius: 50px;
  padding:20px;
  background-color: #2787d4;
  width: 150px;
  margin: 50px auto;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.mainbox .site:hover{
  transition: 0.3s;
  transform: translateY(5px);
}
a.btn{
  border-radius: 50%;
  color: black;
  display: block;
  width: 50px; height: 50px;
  text-indent: -9999px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: url(../img/basics/svg/top.svg) no-repeat 50% / contain;
}